.banner-section {
  font-family: $primary-font;
  color: $secondary-color;
  background-color: #cc6238d9;
  position: relative;
}

.banner-section::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../../../../public/bg-img.jpg") no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: center 20%;
}

.banner-section-container {
  padding: 0 0 5rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
}

.banner-section-container__title {
  font-weight: 700;
  font-size: 4.6rem;
  line-height: 6.9rem;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

.banner-section-container__paraphy {
  font-weight: 400;
  line-height: 3.9rem;
  font-size: 2.6rem;
}

.banner-section-container__title,
.banner-section-container__paraphy {
  text-align: left;
}

@media (max-width: 1110px) {
  .banner-section {
    display: none;
  }
}
